.experience {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid var(--zinc-100);
  border-radius: 10px;

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .title {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 1.6rem;
      font-weight: 600;
    }

    .company-location {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .period {
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: right;
      font-size: 1.3rem;
    }
  }
}
