<section class="about-me section">
  <h3 class="section-title">About <strong>me</strong></h3>
  <div class="container">
    <div class="image">
      <img alt="About me" src="./assets/images/about-me.jpeg" width="200" />
    </div>
    <span>
      Life is an adventure, I studied Information Technology in Vietnam from
      2007 to 2011. After graduation, I found a job as a Front End Developer at
      Harvey Nash Vietnam and I had the chance to work with company's one of
      biggest client: Hearst US. They work mostly in managing more than 16
      popular magazines in USA like Elle, ElleDecor, Cosmopolitan,...etc. From
      this opportunity, I learned about using HTML, CSS, and later Javascript,
      worked closely with a great design team from USA help growing inside me
      the passion for Web. The designer is like an architect and me, as a
      builder help him/her to make that blue print become real thing. And I am
      happy to do this work. After more than 10 years in this industry, I was so
      lucky to meet a lot of good people, good colleagues, and I learned so much
      from them. Now, it is my turn to share what I know, what I passion about
      with you.
    </span>
  </div>
</section>
