<div class="hero">
  <div class="container">
    <div class="text">
      <h2>
        Bonjour, hallo, and hello, I am <strong>Raphaël Tuong Tho VO</strong>. A
        Front End Developer comes from Vietnam and now stay in Germanny.
      </h2>
      <h3>
        <span>
          I am on my adventure to <strong>learn, enjoy, and share</strong> my
          knowledge base with everyone I can talk with.
        </span>
        <span>
          I <strong>learn</strong> from my surrouding, my friends, my
          colleagues, my family, and maybe also you. Don't hesitate to share me
          your story.
        </span>
        <span>
          I <strong>enjoy talking</strong> with stranger about almost
          everything. Everyone has their own story and this is small plesant
          gift to hear them.
        </span>
        <span>
          I <strong>believe sharing</strong> will boost your own, nothing better
          than a knowledge got refined and taste better like wine.
        </span>
      </h3>
    </div>
    <img alt="My self" src="/assets/images/hero.jpeg" />
  </div>
</div>
