.hero {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h3 {
    display: inline-flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  img {
    width: 100%;
  }
}
