/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-family: 'Sora', monospace;
  background-color: #fcfff8;
}

body {
  margin: 0;
}

:root {
  --zinc-800: #27272a;
  --zinc-500: #71717a;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --error: #ef4444;
}

.container {
  display: flex;
  max-width: 1440px;
  width: 100%;
}
