.understanding {
  display: none;
}

.skill {
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--zinc-800);
  border-radius: 5px;
  margin: 0 auto;

  &:hover {
    background: var(--zinc-800);

    h4, .icon {
      color: var(--zinc-100);
    }
  }

  h4 {
    font-size: 1.2rem;
    color: var(--zinc-800);
    font-weight: bold;
  }
}
